body {
    background-color: #455A64;
    background-image: url("black_back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
	  font-family: Roboto;
	  font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

h2 {
  font-family: Roboto;
	font-size: 24px;
  text-align: left;
  color: white;
}

h3 {
	font-family: Roboto;
	font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: white;
}

p {
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

figcaption{
        font-family: Roboto;
    font-size: 16px;
    color: white;
}

/* This is to create a navigation bar */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  text-align: center;
}

nav li {
	display: inline;
}

nav li a {
	display: inline-block;
	/*background-color: rgba(238,238,238, 0.2);*/
	color: #9E9E9E;
	font-family: Tahoma;
	text-align: center;
    text-transform: uppercase;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	color: white;
  background-color: rgba(128, 128, 128, 0.2);
}

nav .active {
	color: white;
}

li {
  color: white;
  font-family: Roboto;
}

table {
  color: white;
  border-collapse: collapse;
  font-family: Roboto;
}

th {
  background-color: #ffcd00;
  color: black;
  padding: 4px 16px;
}

td {
  padding: 4px 16px;
}

table th {
  text-align: left;
}

.middle {
	text-align: center;
}

.content {
    margin: 0px 256px;
}

.column {
	float: left;
	height: 138px;
	border: 1px solid white;
}

.column.side {
	width: 20%;
}

.column.middle {
	width: 60%;
}

.centerhelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
