body {
  background-color: #455A64;
  background-image: url("black_back.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: Corbel;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: Corbel;
	font-size: 24px;
  text-align: left;
  color: white;
}

h3 {
	font-family: Corbel;
	font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: white;
}

p {
  font-family: Verdana;
  font-size: 16px;
  color: white;
}

hr {
  border-color: #9E9E9E;
}

figcaption{
  font-family: Verdana;
  font-size: 16px;
  color: white;
}

a {
  color: #ffcd00;
}

a:visited {
  color: #e0b60b;
}

a:hover {
  color: #ffe26d;
}

a:active {
  color: #9E9E9E;
}

/* This is to create a navigation bar */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  text-align: center;
}

nav li {
	display: inline;
}

nav li a {
	display: inline-block;
	/*background-color: rgba(238,238,238, 0.2);*/
	color: #9E9E9E;
	font-family: Tahoma;
	text-align: center;
  text-transform: uppercase;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:link {
  color: #9E9E9E;
}

nav li a:visited {
  color: #9E9E9E;
}

nav li a:hover {
	color: white;
  background-color: rgba(128, 128, 128, 0.2);
}

section {
    margin: 0px 15%;
}

li {
  color: white;
  font-family: Verdana;
}

table {
  color: white;
  border-collapse: collapse;
  font-family: Verdana;
}

th {
  background-color: #ffcd00;
  text-align: left;
  color: black;
  padding: 4px 16px;
}

td {
  padding: 4px 16px;
}

td a {
  color: inherit;
}

td a:visited {
  color: #9E9E9E;
}

td a:hover {
  color: #BDBDBD;
}

td a:active {
  color: inherit;
}

footer {
  text-align: center;
}

small {
  color: white;
  font-family: Verdana;
}

.active {
	color: white !important;
}

.middle {
	text-align: center;
}

.column {
	float: left;
	height: 138px;
	border: 1px solid white;
}

.column.side {
	width: 20%;
}

.column.middle {
	width: 60%;
}

.centerhelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.tableborder {
  border-bottom: solid thin;
  border-color: #ffcd00;
}
